.container {
  min-height: 100vh;
  background-color: rgb(243, 240, 240);
}

.main {
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;

    .header {
      font-size: 6em;
      color: var(--primary-green);
    }

    .headerMini {
      font-size: 2em;
      color: var(--text-white);
      margin: 6px 10%;
      text-align: center;
    }
  }
}

.footer {
  .input-cont {
    @apply m-10 px-10;

    p {
      @apply text-xl;
    }

    input {
      @apply block my-2 px-4 py-2 w-full rounded-md;
    }

    div {
      @apply flex justify-end items-center;

      button {
        @apply text-white px-4 py-2 rounded-md border-2 border-solid border-white hover:bg-white hover:text-black min-w-[10rem];
      }
    }
    
  }
}