.container {
    min-height: 100vh;
    background-color: rgb(243, 239, 239);
}

.main {
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;

        .header {
            font-size: 4em;
            color: var(--text-white);
        }

        .headerMini {
            font-size: 2em;
            color: var(--text-white);
            margin: 6px 10%;
            text-align: center;
        }
    }
}

.mapSection {
    position: relative;
    background-color: rgb(26, 25, 25);

    .mapKeys {
        position: absolute;
        left: 40px;
        bottom: 230px;
        width: 280px;
        padding: 20px;
        background-color: rgba(41, 153, 147, 0.6);
        border-radius: 4px;


        @media (max-width: 600px) {
            bottom: 40px;

        }

        .title {
            color: white;
            margin-bottom: 6px;
        }

        .legend {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid rgb(70, 69, 69);

            .icon {
                height: 30px;
                width: 40px;
                border-right: 1px solid rgb(70, 69, 69);
            }

            .text {
                margin-right: 6px;
                color: rgb(230, 222, 222);
                font-weight: bold;
            }

            .colorOne {
                background-color: rgb(255, 0, 0);
            }

            .colorTwo {
                background-color: rgb(255, 30, 30);
            }

            .colorThree {
                background-color: rgb(255, 50, 50);
            }

            .colorFour {
                background-color: rgb(255, 70, 70);
            }

            .colorFive {
                background-color: rgb(255, 90, 90);
            }

            .colorSix {
                background-color: rgb(255, 120, 120);
            }

            .colorSeven {
                background-color: rgb(255, 150, 150);
            }

            .colorEight {
                background-color: rgb(255, 195, 195);
            }

            .colorNine {
                background-color: rgb(255, 227, 227);
            }
        }
    }
}

.tableContainer {
    height: 80vh;
    width: 100%;
}